a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #087e49de;
  text-decoration: none;
}

body {
  margin: auto;
  background-color: #cbdfdeec;
  text-align: center;
  margin-top: 100px;
  font-family: "Open Sans", sans-serif;
}

div {
  padding: 0 10px;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #087e49de;
  margin-bottom: 0;
}

h1 {
  color: #008147;
  font-family: 'Playball', cursive;
  font-size: 5rem;
  font-weight: lighter;
  margin-top: 5rem;
  margin-bottom: 0;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #087e49de;
  margin: 20px;
  font-weight: normal;
}



hr {
  width: 10%;
  border-width: 10px;
  border-color: #218461a5;
  border-style: dotted none none none;
  margin: 40px auto;
}

.btn {
  color: wheat;
  background-color: #087e49de;
  padding: 15px 25px;
  border-radius: 7px;
}

.contact-me {
  margin-bottom: 40px;
}

.copyright {
  vertical-align: middle;
  padding: 15px;
  margin-bottom: 0;
}

.desc{
  font-size: 2rem;
  margin-top: 0px;
}

.django {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.frontend {
  filter: brightness(95%);
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.hero {
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
}

.profilepic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}



