body{
    background-color: #cdf6f3;
}

.hero{
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}

.name{
    font-style: italic;
    color: #0ad278de;
    font-family: 'Lucida Sans';  
    font-size: 45px; 
}

.desc{
    color: #35b033d5;
    font-family: 'Times New Roman';
    margin-bottom: 40px;
    font-size: 25px;  
}

.profilepic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}